$primary-bg-color-tag: #ecf2ff;
$primary-border-color: #e5eaef;
$primary-text-color-tag: #5d87ff;
$primary-bg-color: #e8f8ff;
$sign-out-color: #329be2;
$white-color: #fff;
$primary-body-color: #f7f9fc;
$primary-hover-color: #fafafa;
$primary-header-color: #ebeffb;
$primary-text-color: #2a3547;

$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_first: 575px;
$value_second: 991px;
